@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700i');
body {
  margin: 0px;
  padding: 0px;
}

@media all and (min-width: 850px) {
  body, html {
    height: 100%;
  }
  #Water-1, #Pipe-1 {
    width: 100vw;
  }
  #Tubes-full {
    width: 180px;
    height: 300px;
  }
  #Child-full {
    width: 550px;
    height: 300px;
  }
  #Tribe-full {
    width: 45%;
    max-width: 450px;
  }
  #myBtn {
    padding: 10px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }
  .page1-tubes-border {
    animation-name: border-full-animation11;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 173px;
    height: 293px;
  }
  .page1-child-border {
    animation-name: border-full-animation12;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 543px;
    height: 293px;
  }
  .page2-image-border {
    animation-name: border-full-animation2;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 493px;
    height: 293px;
  }
  .page3-image-border {
    animation-name: border-full-animation3;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 493px;
    height: 293px;
  }
  .page4-image-border {
    animation-name: border-full-animation4;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 493px;
    height: 293px;
  }
  .page5-image-border {
    animation-name: border-full-animation5;
    animation-duration: 4s;
    animation-iteration-count: 1;
    width: 493px;
    height: 293px;
  }
  #Microscope, #Products, #Migrants, #Tourism, #Egypt, #Algeria, #Libya, #Morocco, #Spain, #Taiwan, #Korea, #Japan, #DPRK, #China, #USA1, #USA2, #USA3, #Peru, #Mexico, #Hunters-1, #Energy-1, #Glacier, #Engineer {
    width: 500px;
    height: 300px;
  }
  #Field, #Children, #Climate, #India, #Bangladesh, #Butan, #Maldives, #Nepal, #Bangladesh, #Butan, #Maldives, #Nepal, #Georgia, #Abkhazia, #Armenia, #Cyprus, #UAE, #Kyrgyzstan, #Kazakhstan, #Tajikistan, #Turkmenistan, #Uzbekistan, #Workers {
    width: 500px;
    height: 300px;
  }
  #Cleaner {
    width: 500px;
    height: 300px;
  }
  #Electrodialysis {
    width: 500px;
  }
  #Ultrafiltration, #Distillation {
    width: 400px;
  }
  #Nano-chip {
    width: 450px;
  }
  .full-card1, .full-card2, .full-card3, .full-card4, .full-card5, .full-card6 {
    min-width: 200px;
    max-width: 300px;
    height: 400px;
    padding: 25px;
    margin: 10px;
  }
  @keyframes border-full-animation11 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: blue;
      height: 293px;
      width: 173px;
    }
  }
  @keyframes border-full-animation12 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: blue;
      height: 293px;
      width: 543px;
    }
  }
  @keyframes border-full-animation2 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: red;
      height: 293px;
      width: 493px;
    }
  }
  @keyframes border-full-animation3 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: green;
      height: 293px;
      width: 493px;
    }
  }
  @keyframes border-full-animation4 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: orange;
      height: 293px;
      width: 493px;
    }
  }
  @keyframes border-full-animation5 {
    0% {
      border-color: black;
      height: 25px;
      width: 25px;
    }
    100% {
      border-color: DarkViolet;
      height: 293px;
      width: 493px;
    }
  }
