@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700i');
body {
  margin: 0px;
  padding: 0px;
}
@media all and (min-width: 850px) {
  body, html {
      height: 100%;
  }
  #Water-1, #Pipe-1 {
    width: 100vw;
  }
  #Tubes-full {
    width: 180px;
    height: 300px;
  }
  #Child-full {
    width: 550px;
    height: 300px;
  }
  #Tribe-full {
    width: 45%;
    max-width: 450px;
  }
  #myBtn {
    padding: 10px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
  }
  .page1-tubes-border {
    width: 173px;
    height: 293px;
  }
  .page1-child-border {
    width: 543px;
    height: 293px;
  }
  .page2-image-border {
    width: 493px;
    height: 293px;
  }
  .page3-image-border {
    width: 493px;
    height: 293px;
  }
  .page4-image-border {
    width: 493px;
    height: 293px;
  }
  .page5-image-border {
    width: 493px;
    height: 293px;
  }
  #Microscope, #Products, #Migrants, #Tourism, #Egypt, #Taiwan, #USA, #Hunters, #Energy-1, #Glacier, #Engineer {
    width: 500px;
    height: 300px;
  }
  #Field, #Children, #Climate, #India, #Bangladesh, #Butan, #Maldives, #Nepal, #Georgia, #Kyrgyzstan, #Workers {
    width: 500px;
    height: 300px;
  }
  #Cleaner {
    width: 500px;
    height: 300px;
  }
  #Electrodialysis {
    width: 500px;
  }
  #Ultrafiltration, #Distillation {
    width: 400px;
  }
  #Nano-chip {
    width: 450px;
  }
