@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700i');
body {
  margin: 0px;
  padding: 0px;
}

@media all and (min-width: 550px) {
  body, html {
    height: 100%;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0%;
    left: 0%;
    height: 40px;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  .menu p, .menu-position {
    max-width: 20vw;
    min-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 3;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    background: white;
    color: black;
    border: white 1px solid;
    cursor: pointer;
  }
  .menu-home-content, .menu-technologies-content, .menu-innovations-content, .menu-about-us-content, .menu-contacts-content {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: white;
    border: white 1px solid;
  }
  .menu-home-content a, .menu-technologies-content a, .menu-innovations-content a, .menu-about-us-content a, .menu-contacts-content a {
    color: black;
    min-height: 21px;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  .menu-home-content a:hover, .menu-technologies-content a:hover, .menu-innovations-content a:hover, .menu-about-us-content a:hover, .menu-contacts-content a:hover {
    background-color: #c4d6fa;
    font-weight: normal;
  }
  .menu-home-dropdown:hover .menu-position, .menu-technologies-dropdown:hover .menu-position, .menu-innovations-dropdown:hover .menu-position, .menu-about-us-dropdown:hover .menu-position, .menu-contacts-dropdown:hover .menu-position {
    background: white;
    color: black;
  }
  .flex-zone, .flex-zone-reverse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex-zone {
    flex-direction: row;
  }
  .flex-zone-reverse {
    flex-direction: row-reverse;
  }
  .flex-zone-around {
    display: flex;
    justify-content: space-around;
  }
  #India, #Bangladesh, #Butan, #Maldives, #Nepal {
    padding-top: 30px;
    padding-left: 30px;
  }
  #Egypt, #Algeria, #Libya, #Morocco, #Spain {
    padding-top: 30px;
    padding-right: 30px;
  }
  #Georgia, #Abkhazia, #Armenia, #Cyprus, #UAE {
    padding-top: 30px;
    padding-left: 30px;
  }
  #Taiwan, #Korea, #Japan, #DPRK, #China {
    padding-top: 30px;
    padding-right: 30px;
  }
  #Kyrgyzstan, #Kazakhstan, #Tajikistan, #Turkmenistan, #Uzbekistan {
    padding-top: 30px;
    padding-left: 30px;
  }
  #USA1, #USA2, #USA3, #Peru, #Mexico {
    padding-top: 30px;
    padding-right: 30px;
  }
  #Field, #Children, #Climate, #Workers, #Ultrafiltration, #Distillation, #Cleaner, #Tribe {
    padding-top: 30px;
    padding-left: 30px;
  }
  #Microscope, #Products, #Migrants, #Tourism, #Electrodialysis, #Glacier, #Engineer, #Hunters, #Energy-1, #Child {
    padding-top: 30px;
    padding-right: 30px;
  }
  #Water-1, #Pipe-1 {
    width: 100vw;
    max-width: none;
  }
  #People, #City {
    max-width: 80px;
    padding-bottom: 15px;
  }
  .content-head1, .content-head2, .content-head4, .content-head5 {
    font-size: 30px;
  }
  .content-head3 {
    font-size: 60px;
  }
  .content-black-head-1, .content-black-head-2, .content-white-head-1, .content-white-head-2, .content-white-head-3 {
    text-align: center;
  }
  .content-black-head-1 {
    font-size: 21px;
  }
  .content-black-head-2 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .content-black {
    font-size: 17px;
  }
  .content-white-head-1 {
    font-size: 21px;
  }
  .content-white-head-2 {
    font-size: 17px;
    padding-bottom: 0px;
  }
  .content-white-head-3 {
    font-size: 21px;
    background: black;
  }
  .content-white {
    font-size: 17px;
  }
  .content-red {
    text-align: center;
    font-size: 21px;
  }
  .quote h1 {
    font-size: 21px;
  }
  th {
    height: 45px;
    width: 300px;
    vertical-align: bottom;
  }
  td {
    height: 45px;
    vertical-align: top;
  }
  .statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .statistic p {
    margin: 15px;
  }
  .zone-indentation {
    padding: 30px 30px;
  }
  .left-position {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .right-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
  }
  .card-1, .card-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .full-card1, .full-card2, .full-card3, .full-card4, .full-card5, .full-card6 {
    min-width: 200px;
    height: 400px;
    padding: 20px;
    margin: 10px;
  }
  .full-image {
    padding-top: 20px;
  }
  .page1-text-1 {
    padding-left: 20px;
  }
  .zone-indentation {
    overflow: auto;
  }
  .image1, #Tribe-full {
    float: left;
  }
  .image2 {
    display: block;
    float: right;
    padding-left: 30px;
  }
  #Tubes-full {
    display: block;
    position: relative;
    top: 30px;
    left: 30px;
    width: 180px;
    height: 300px;
    padding-right: 60px;
    padding-bottom: 30px;
  }
  #Child-full {
    display: block;
    position: relative;
    top: 30px;
    left: 30px;
    width: 290px;
    height: 170px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  #Tribe-full {
    width: 45%;
    max-width: 450px;
    padding-right: 30px;
  }
  #Tubes, #Child, #Tribe {
    display: none;
  }
  #Tribe-full {
    display: block;
  }
  .page1-tubes-border, .page1-child-border, .page2-image-border, .page3-image-border, .page4-image-border, .page5-image-border {
    position: absolute;
  }
  .page1-tubes-border {
    width: 173px;
    height: 293px;
    border: 7px solid blue;
  }
  .page1-child-border {
    width: 283px;
    height: 163px;
    border: 7px solid blue;
  }
  .page2-image-border {
    width: 283px;
    height: 163px;
    border: 7px solid red;
  }
  .page3-image-border {
    width: 283px;
    height: 163px;
    border: 7px solid green;
  }
  .page4-image-border {
    width: 283px;
    height: 163px;
    border: 7px solid orange;
  }
  .page5-image-border {
    width: 283px;
    height: 163px;
    border: 7px solid DarkViolet;
  }
  .hidden-zone-1 {
    display: none;
  }
  .hidden-zone-2 {
    display: block;
  }
  .flex-zone-left, .flex-zone-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .flex-zone-left {
    flex-direction: row-reverse;
  }
  .flex-zone-right {
    flex-direction: row;
  }
  #Microscope, #Products, #Migrants, #Tourism, #Hunters, #Energy-1, #Glacier, #Engineer {
    position: relative;
    top: 0px;
    left: 30px;
    width: 290px;
    height: 170px;
  }
  #Field, #Children, #Climate, #Workers, #Cleaner {
    position: relative;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 170px;
  }
  #India, #Bangladesh, #Butan, #Maldives, #Nepal {
    position: relative;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 170px;
  }
  #Egypt, #Algeria, #Libya, #Morocco, #Spain {
    position: relative;
    top: 0px;
    left: 30px;
    width: 290px;
    height: 170px;
  }
  #Georgia, #Abkhazia, #Armenia, #Cyprus, #UAE {
    position: relative;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 170px;
  }
  #Taiwan, #Korea, #Japan, #DPRK, #China {
    position: relative;
    top: 0px;
    left: 30px;
    width: 290px;
    height: 170px;
  }
  #Kyrgyzstan, #Kazakhstan, #Tajikistan, #Turkmenistan, #Uzbekistan {
    position: relative;
    top: 0px;
    left: 0px;
    width: 290px;
    height: 170px;
  }
  #USA1, #USA2, #USA3, #Peru, #Mexico{
    position: relative;
    top: 0px;
    left: 30px;
    width: 290px;
    height: 170px;
  }

  #Electrodialysis {
    width: 300px;
  }
  #Ultrafiltration, #Distillation {
    width: 250px;
  }
  #Nano-chip {
    width: 350px;
  }
  .flex-right {
    float: right;
    padding-top: 30px;
    padding-right: 30px;
  }
  .flex-left {
    float: left;
    padding-top: 30px;
    padding-left: 30px;
  }
  #myBtn {
    padding: 10px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
  }
  .video {
    width: 50vw;
    height: 50vh;
  }
