@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700i');
body {
  margin: 0px;
  padding: 0px;
}

@media all and (min-width: 550px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0%;
    left: 0%;
    z-index: 1;
    height: 40px;
  }
  .menu a {
    text-decoration: none;
    color: black;
  }
  .menu p, .menu-position {
    max-width: 20vw;
    min-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.8;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    background: white;
    color: black;
    border: white 1px solid;
    cursor: pointer;
  }
  .menu-home-content, .menu-technologies-content, .menu-innovations-content, .menu-about-us-content, .menu-contacts-content {
    display: none;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: white;
    border: white 1px solid;
  }
  .menu-home-content a, .menu-technologies-content a, .menu-innovations-content a, .menu-about-us-content a, .menu-contacts-content a {
    color: black;
    min-height: 21px;
    padding: 7px 15px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  .menu-home-content a:hover, .menu-technologies-content a:hover, .menu-innovations-content a:hover, .menu-about-us-content a:hover, .menu-contacts-content a:hover {
    background-color: #c4d6fa;
    font-weight: normal;
  }
  .menu-home-dropdown:hover .menu-position, .menu-technologies-dropdown:hover .menu-position, .menu-innovations-dropdown:hover .menu-position, .menu-about-us-dropdown:hover .menu-position, .menu-contacts-dropdown:hover .menu-position {
    background-color: rgba(59, 119, 237, 1);
    color: white;
  }
  .flex-zone, .flex-zone-reverse {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .flex-zone {
    flex-direction: row;
  }
  .flex-zone-reverse {
    flex-direction: row-reverse;
  }
  .flex-zone-around {
    display: flex;
    justify-content: space-around;
  }
  #India, #Georgia, #Kyrgyzstan {
    padding-top: 30px;
    padding-left: 30px;
  }
  #Egypt, #Taiwan, #USA {
    padding-top: 30px;
    padding-right: 30px;
  }
  .content-black-head-1, .content-black-head-2, .content-white-head-1, .content-white-head-2, .content-white-head-3 {
    text-align: left;
  }
  .content-black-head-1 {
    font-size: 21px;
  }
  .content-black-head-2 {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .content-black {
    font-size: 17px;
  }
  .content-white-head-1 {
    font-size: 21px;
  }
  .content-white-head-2 {
    font-size: 17px;
    padding-bottom: 10px;
  }
  .content-white-head-3 {
    font-size: 21px;
    background: black;
  }
  .content-white {
    font-size: 17px;
  }
  .content-red {
    text-align: center;
    font-size: 21px;
  }

  .zone-indentation {
    padding: 30px 30px;
  }
